<div class="container">
  <form class="example-form" [formGroup]="form">
    <mat-form-field class="example-full-width">
      <mat-label>Enter company name</mat-label>
      <input formControlName="companyName" matInput placeholder="DGA" />
      <mat-error *ngIf="companyName?.errors?.['minlength']">Minlength must be at least 2 characters.</mat-error>
      <mat-error *ngIf="companyName?.errors?.['maxlength']">Maxlength must be max 50 characters.</mat-error>
      <mat-error *ngIf="companyName?.errors?.['required']">Company name is required!</mat-error>
      <mat-error *ngIf="companyName?.errors?.['singleLanguage']">Please write in English or Georgian.</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Enter company web page</mat-label>
      <input formControlName="companyWebPage" matInput placeholder="https://www.example.com" (input)="onWebPageInput($event)" />
      <mat-error *ngIf="companyWebPage?.errors?.['required']">Company web page is required!</mat-error>
      <mat-error *ngIf="companyWebPage?.errors?.['invalidPrefix']">Web page must start with https://www.</mat-error>
      <mat-error *ngIf="companyWebPage?.errors?.['requiredAfterPrefix']">After https://www., the field must contain text.</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Enter Company description</mat-label>
      <textarea formControlName="description" matInput placeholder="About company ..."></textarea>
      <mat-error *ngIf="description?.errors?.['minlength']">Minlength must be at least 20 characters.</mat-error>
      <mat-error *ngIf="description?.errors?.['required']">Description is required.</mat-error>
      <mat-error *ngIf="description?.errors?.['singleLanguage']">Please write in English or Georgian.</mat-error>
    </mat-form-field>

    <button (click)="submit()" class="submit" mat-raised-button>Add Job</button>
  </form>

  <ng-container *ngIf="getAllJob$ | async as jobs">
    <p *ngIf="jobs.length === 0">No job has been added yet!</p>
    <div class="card-container company">
      <mat-card *ngFor="let job of jobs" class="card">
        <div class="company__about">
          <span>Company Name:</span>
          <mat-card-title>{{ job.companyName }}</mat-card-title>
        </div>

        <div class="company__about">
          <span>Company web page:</span>
          <mat-card-subtitle><a target="_blank" [href]="job.companyWebPage">Company web</a></mat-card-subtitle>
        </div>

        <div class="company__about">
          <span>Job Description:</span>
          <mat-card-content>{{ job.description }}</mat-card-content>
        </div>

        <div class="actions">
          <mat-card-actions>
            <button (click)="addPosition(job.id)" class="submit" mat-raised-button>Add position</button>
          </mat-card-actions>
          <mat-card-actions>
            <button (click)="deleteJob(job.id)" class="delete-button" mat-raised-button>Delete Job</button>
          </mat-card-actions>
        </div>

        <div *ngFor="let position of job.positions; let i = index" class="about-position">
          <div>
            <p>{{ i + 1 }}.</p>
            <div class="about-posiiton">
              <span><strong>Position Name:</strong> {{ position.positionName }}</span>
              <span><strong>Position Level:</strong> {{ position.positionLevel }}</span>
              <div><strong>Position Description:</strong> {{ position.description }}</div>
            </div>
            <p><strong>Duration:</strong> ({{ position.dateFrom | date }} - {{ position.dateTo | date }})</p>
          </div>
          <a (click)="deletePosition(job.id, i)" class="delete-position" mat-button>Delete Position</a>
        </div>
      </mat-card>
    </div>
  </ng-container>
</div>
