.container {
  margin-top: 20px;
  display: flex;
  gap: 5vw;
  padding: 10px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
}

.card {
  min-height: 20vh;
  background-color: rgb(197, 202, 202);
  width: 418px;
  padding: 10px;
}

@media (min-width: 1200px) {
  .card {
    width: 300px;
  }
}

.submit {
  margin-top: 25px;
  background-color: #09114c;
  color: #fff;
}

.delete-button {
  background-color: rgb(182, 3, 3);
  color: #fff;
}

.delete-position {
  color: rgb(182, 3, 3);
  cursor: pointer;
}

.mat-card-title {
  font-weight: bold;
}

.mat-card-subtitle a {
  color: #09114c;
  text-decoration: none;
}

.mat-card-subtitle a:hover {
  text-decoration: underline;
}
