
.container{
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  gap: 5vw;
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  .card {
    min-height: 20vh;
    background-color: rgb(197, 202, 202);
    width: 450px
  }
}
}
.film-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.search {
  margin: 19px
}
.submit {
  background-color: #09114c;
  color: #fff
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-image {
  width:50px;
  height: 50px
}
